<!-- lista_productos.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Productos</h2>

    <!-- Menú de Opciones -->
    <nav>
        <ul>
            <li><a href="{% url 'nuevo_producto' %}">Agregar Producto</a></li>
            <!-- Agrega más opciones según tus necesidades -->
        </ul>
    </nav>

    <!-- Lista de Productos -->
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - {{ producto.precio }}
                <ul>
                    <li><a href="{% url 'detalle_producto' pk=producto.pk %}">Detalles</a></li>
                    <li><a href="{% url 'editar_producto' pk=producto.pk %}">Editar</a></li>
                    <li><a href="{% url 'eliminar_producto' pk=producto.pk %}">Eliminar</a>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
